/* background color */

.pageStyles {
    background-color: black;
    font-family: Courier New, Courier, monospace;
    color: white;
}

.clickStyles {
    background-color: green;
    font-family: Courier New, Courier, monospace;
    color: white;
}

.foot {
    margin-top: 10%;
}

.quoteBox {
    background-color: slategray;
    font-family: Courier New, Courier, monospace;
    color: black;
    padding: 10px;
    border-radius: 15px;
    vertical-align: middle;
}

.quoteImage {
    display: block;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
    width: 100%;
}

.lineSpace {
  line-height: 2.5;
}